<form method="post" action="/form">
  <input 
    type="text"
    name="username"
  />

  <input
    type="password"
    name="password"
  />

  <button class="btn btn-success" type="submit">Submit</button>
</form>